@use "scss/tokens/utility" as utility;
@use "scss/tokens/text" as text;
@use "scss/tokens/app-bg" as app-bg;

html,
body,
#root,
main {
  height: 100%;
}

body {
  overflow: hidden;
  user-select: none;
  font-family:
    Noto Sans,
    sans-serif;
  font-size: utility.$body-font-size;
  color: text.$body-color;
  margin: 0;
  background-color: app-bg.$dark-background-color;
}

#root,
main {
  display: flex;
}

#root {
  flex-direction: column;
}

main {
  overflow: hidden;
}
