[Desktop Entry]
Name=Makai Forger
Exec=/home/cas/Documentos/Makai-forger/start-makaiforger.sh
Icon=/home/cas/Documentos/Makai-forger/resources/icons/icon.png
Type=Application
Categories=Game;