@use "../../scss/tokens/utility";

.bottom-panel {
  width: 100%;
  padding: calc(utility.$spacing-unit / 2) calc(utility.$spacing-unit * 2);
  display: flex;
  align-items: center;
  transition: all ease 0.2s;
  justify-content: space-between;
  position: relative;

  &__downloads-button {
    border-bottom: solid 1px transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__version-button {
    border-bottom: solid 1px transparent;

    &:hover {
      cursor: pointer;
    }
  }
}
