@use "../../scss/tokens/text";

.bottom-panel {
  &__downloads-button {
    color: text.$body-color;

    &:hover {
      border-bottom: solid 1px text.$body-color;
    }
  }

  &__version-button {
    color: text.$body-color;

    &:hover {
      border-bottom: solid 1px text.$body-color;
    }
  }
}
