@use "../../../../scss/tokens/utility" as token;

.game-item {
  &__content-link {
    gap: calc(token.$spacing-unit * 2);
  }

  &__details {
    padding: calc(token.$spacing-unit * 2) 0;
  }

  &__repackers {
    gap: token.$spacing-unit;
  }
}
