@use "../../../scss/tokens/utility";

.settings-account {
  &__form {
    gap: calc(utility.$spacing-unit * 2);
  }

  &__section {
    gap: utility.$spacing-unit;
  }

  &__actions {
    gap: utility.$spacing-unit;
    margin-top: utility.$spacing-unit;
  }

  &__subscription-info {
    gap: calc(utility.$spacing-unit * 2);
  }

  &__blocked-users {
    gap: utility.$spacing-unit;
  }

  &__blocked-user {
    gap: utility.$spacing-unit;
  }

  &__user-info {
    gap: utility.$spacing-unit;
  }
}
