@use "../../../../scss/tokens/utility" as token;

.real-debrid-info-modal {
  &__content {
    gap: calc(token.$spacing-unit * 2.5);
  }

  &__description-container {
    gap: calc(token.$spacing-unit * 1.5);
  }

  &__create-account {
    gap: calc(token.$spacing-unit / 2);
  }
}
