@use "../../../scss/tokens/utility";

.settings-debrid {
  gap: calc(utility.$spacing-unit * 2);

  &__description {
    margin: 0 0 calc(utility.$spacing-unit * 2) 0;
  }

  &__section {
    &--expanded:not(:last-child) {
      margin-bottom: calc(utility.$spacing-unit * 3);
    }
  }

  &__section-header {
    gap: calc(utility.$spacing-unit);
    margin-bottom: calc(utility.$spacing-unit * 2);
  }
}
