@use "../../../../scss/tokens/text" as token;

.cloud-sync-panel {
  &__artifact-label {
    color: token.$body-color;
  }

  &__artifact {
    color: token.$body-color;
  }

  &__manage-files-button {
    color: token.$body-color;
  }
}
