@use "../../scss/tokens/text";

.game-card {
  &__specifics-item {
    color: text.$muted-color;
  }

  &__title-container {
    color: text.$muted-color;
  }

  &__no-download-label {
    color: text.$body-color;
  }
}
