@use "../../../scss/tokens/utility";

.settings-premiumize {
  &__form {
    gap: calc(utility.$spacing-unit * 2);
  }

  &__description-container {
    gap: utility.$spacing-unit;
  }

  &__create-account {
    gap: utility.$spacing-unit;
  }
}
