@use "../../../scss/tokens/utility" as token;

.game-details {
  &__description-container {
    display: flex;
    flex-direction: row;
    padding: calc(token.$spacing-unit * 1.5);
    gap: calc(token.$spacing-unit * 1.5);
  }

  &__description {
    font-size: token.$body-font-size;

    img,
    video {
      margin-top: token.$spacing-unit;
      margin-bottom: calc(token.$spacing-unit * 3);
    }

    .bb_tag {
      margin-top: calc(token.$spacing-unit * 2);
      margin-bottom: calc(token.$spacing-unit * 2);
    }
  }

  &__description-toggle {
    padding: calc(token.$spacing-unit * 0.75)
      calc(token.$spacing-unit * 1.5);
    font-size: token.$body-font-size;
    margin-top: calc(token.$spacing-unit * 1.5);
  }

  &__skeleton {
    .description-header {
      margin-bottom: calc(token.$spacing-unit * 1.5);
    }

    .hero-panel__content {
      gap: calc(token.$spacing-unit * 0.5);
    }

    .review-item-skeleton {
      padding: calc(token.$spacing-unit * 1);
      margin-bottom: calc(token.$spacing-unit * 1);
    }

    .sidebar-section-skeleton {
      margin-bottom: calc(token.$spacing-unit * 1.5);
    }
  }
}
