[Desktop Entry]
Type=Application
Name=CompactFlow
Comment=Abrir com CompactFlow (Makai Forger)
Exec=compatflow %f
Icon=compatflow
Terminal=false
Categories=Utility;
MimeType=application/x-ms-dos-executable;application/vnd.microsoft.portable-executable;application/x-msi;
Actions=test-compatibility;

[Desktop Action test-compatibility]
Name=Testar Compatibilidade
Name[en]=Test Compatibility
Exec=compatflow --test %f
