@use "../../scss/tokens/text";

.scan-games-modal {
  &__description {
    color: text.$muted-color;
  }

  &__result {
    color: text.$body-color;
  }

  &__no-results {
    color: text.$muted-color;
  }

  &__spinner {
    color: text.$muted-color;
  }

  &__scanning-text {
    color: text.$muted-color;
  }

  &__game-title {
    color: text.$body-color;
  }

  &__game-path {
    color: text.$muted-color;
  }
}
