@use '../../../scss/tokens/app-bg' as token;

.profile-section {
  background-color: token.$background-color;

  &__header {
    background-color: token.$background-color;
  }

  &__content {
    background-color: token.$dark-background-color;
  }
}
