@use "../../scss/tokens/accent";

.toast {
  &__icon {
    &--success {
      color: accent.$success-color;
    }

    &--error {
      color: accent.$danger-color;
    }

    &--warning {
      color: accent.$warning-color;
    }
  }
}
