@use "../../scss/tokens/accent";

$context-menu-danger-color: accent.$error-color;

.context-menu {
  &__item--danger {
    color: $context-menu-danger-color;

    &:hover:not(.context-menu__item--disabled) {
      background-color: rgba(225, 29, 72, 0.18);
    }

    &:active:not(.context-menu__item--disabled) {
      background-color: rgba(225, 29, 72, 0.28);
    }

    .context-menu__item-icon {
      color: $context-menu-danger-color;
    }
  }

  &__item--danger &__item-trailing-icon {
    color: $context-menu-danger-color;
  }
}
