@use "../../scss/tokens/utility";

.confirmation-modal {
  display: flex;
  flex-direction: column;
  gap: calc(utility.$spacing-unit * 2);

  &__actions {
    display: flex;
    align-self: flex-end;
    gap: utility.$spacing-unit;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }
}
